<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweets</title>
</head>
<body>
    <h1>All tweets</h1>
    <form action="/tweet" method="POST">
        
        <div>
            <label for="body">Tweet : </label>
            <input type="text" name="tweet[body]" id="body">
        </div>

        <button>Add Tweet</button>
    </form>
    
    <% for(let person in user.following) {%>
        <% const jiskofollowkiauskiid = user.following[person]; %>
        <% let jiskofollowkiauskausername = ''; %>
        <%  for(let u in users) { %>
            <%  if(users[u]._id.toString() == jiskofollowkiauskiid.toString() || users[u]._id.toString() === user._id.toString()) { %>
                <% jiskofollowkiauskausername = users[u].username; %>        
            <%}%>
        <%}%>

        <% for(let tweet in tweets) {%>
            <% if(tweets[tweet].username === jiskofollowkiauskausername) {%>
                <%= tweets[tweet].body %> 
             <%  } %>
        <%  } %>
        
    <% } %>   
    
    <% if(user) {%> 
        <button><a href="/user/<%= user._id %>">My profile</a></button>
        <button><a href="/user/all/<%= user._id %>">All users</a></button>     
    <% } %> 
        
</body>
</html>