<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweets</title>
</head>
<body>
    <h1>All tweets</h1>
    <form action="/tweet" method="POST">
        
        <div>
            <label for="body">Tweet : </label>
            <input type="text" name="tweet[body]" id="body">
        </div>

        <button>Add Tweet</button>
    </form>
    
    <% for(let person in user.following) {%>
        <% const jiskofollowkiauskiid = user.following[person]; %>
        <% let jiskofollowkiauskausername = ''; %>
        <%  for(let u in users) { %>
            <%  if(users[u]._id.toString() == jiskofollowkiauskiid.toString()) { %>
                <% jiskofollowkiauskausername = users[u].username; %>    
            <%}%>
        <%}%>
        <% let myusername = '' %>  
        <% for(let u in users) {%>
            <% if(user._id.toString() == users[u]._id.toString()) {%>
                <% myusername = users[u].username %>
                <% break %> 
            <% } %> 
        <% } %> 
        
        <% for(let tweet in tweets) {%>
            <% if(tweets[tweet].username === jiskofollowkiauskausername) {%>
                <%= tweets[tweet].body %> 
             <%  } %>
             <% if(tweets[tweet].username === myusername) {%>
                 
                <form action="/user/<%= tweets[tweet]._id%>?_method=DELETE" method="post"><button>Delete</button></form>    
            <% } %>  
            <% console.log(tweets[tweet].username) %> 
            
        <%  } %>
        
    <% } %>   
    
    <% if(user) {%> 
        <button><a href="/user/<%= user._id %>">My profile</a></button>
        <button><a href="/user/all/<%= user._id %>">All users</a></button>     
    <% } %> 

</body>
</html>